.randomWord{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.right__arrow__box{
    width:200px;
    height: 100%;
    display:flex;
    background-image:url('../../public/chevron-forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    position:absolute;
    right:0px;
    animation: animate__right 1500ms infinite;
}

@keyframes animate__right{
10%{
    transform:translateX(10px);
}
40%{
    transform:translateX(6px);
}
50%{
    transform:translateX(10px);
}
100%{
    transform:translateX(0);
}
}